@media(max-width: 801px){
    body{
        background-image: url(../images/background-mobile.png);
        background-repeat: no-repeat;
    }
    
    main{
        background: url(../images/pattern-circle.svg) no-repeat -10% -3%, url(../images/pattern-circle.svg) no-repeat 120% 50%, url(../images/pattern-lines.svg) 50%, url(../images/pattern-squiggly-line-bottom-mobile-tablet.svg) no-repeat bottom left, url(../images/pattern-squiggly-line-top.svg) no-repeat right 3%;
        background-size: 30%, 30%, 200%, 80%, 30%;
    }

    .container-title{
        width: 25em;
    }

    .container-title h1{
        font-size: 2em;
    }

    .container-title p{
        font-size: 1.3em;
    }

    .info-picture{
        font-size: 0.8em;
    }
}

@media(max-width: 590px){
    main{
        background: url(../images/pattern-circle.svg) no-repeat -10% -3%, url(../images/pattern-circle.svg) no-repeat 120% 50%, url(../images/pattern-lines.svg) 50%, url(../images/pattern-squiggly-line-bottom-mobile-tablet.svg) no-repeat bottom left, url(../images/pattern-squiggly-line-top.svg) no-repeat right 3%;
        background-size: 30%, 30%, 250%, 80%, 30%;
    }
}

@media(max-width: 490px){
    main{
        background: url(../images/pattern-circle.svg) no-repeat -10% -3%, url(../images/pattern-circle.svg) no-repeat 120% 50%, url(../images/pattern-lines.svg) 50%, url(../images/pattern-squiggly-line-bottom-mobile-tablet.svg) no-repeat bottom left, url(../images/pattern-squiggly-line-top.svg) no-repeat right 3%;
        background-size: 30%, 30%, 270%, 80%, 30%;
    }
}

@media(max-width: 430px){
    main{
        background: url(../images/pattern-circle.svg) no-repeat -10% -3%, url(../images/pattern-circle.svg) no-repeat 120% 50%, url(../images/pattern-lines.svg) 50%, url(../images/pattern-squiggly-line-bottom-mobile-tablet.svg) no-repeat bottom left, url(../images/pattern-squiggly-line-top.svg) no-repeat right 3%;
        background-size: 30%, 30%, 290%, 80%, 30%;
    }
}

@media(max-width: 375px){
    main{
        background: url(../images/pattern-circle.svg) no-repeat -10% -3%, url(../images/pattern-circle.svg) no-repeat 120% 50%, url(../images/pattern-lines.svg) 50%, url(../images/pattern-squiggly-line-bottom-mobile-tablet.svg) no-repeat bottom left, url(../images/pattern-squiggly-line-top.svg) no-repeat right 3%;
        background-size: 30%, 30%, 355%, 80%, 30%;
    }

    .container-title{
        width: 20em;
    }

    .container-title h1{
        font-size: 1.7em;
    }

    .container-title p{
        font-size: 1.2em;
    }

    .info-picture{
        font-size: 0.8em;
    }

    .btn-generator{
        font-size: 1rem;
    }

    .form{
        width: 20em;
    }
}