.container-title{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-title h1{
    font-weight: 800;
}

.container-title p{
    width: 20em;
    margin-bottom: 1.5em;
    font-weight: 700;
    line-height: 1.5em;
}

.container-title img{
    width: 30em;
}

.ticket-container{
    position: absolute;
    z-index: 1;
    top: 330px;
}

.ticket{
    display: flex;
    gap: 10em;
    align-items: center;
}

.id-ticket{
    rotate: 90deg;
    color: var(--Neutral-300);
    font-size: 1.2em;
    font-weight: 500;
}

.info-event{
    display: flex;
    align-items: start;
    margin-bottom: 4.5em;
    gap: 1em;
}

.info-event img{
    width: 1.7em;
}

.info-event h2{
    font-size: 1.9em;
    color: var(--Neutral-0);
    margin-bottom: 0.3em;
}

.info-event p{
    color: var(--Neutral-300);
    font-size: 0.9em;
}

.info-user{
    display: flex;
    align-items: center;
    gap: 1em;
}

.info-user img{
    width: 3em;
    border-radius: 0.4em;
}

.info-user h2{
    color: var(--Neutral-0);
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 0.3em;
}

.info-user span{
    display: flex;
    align-items: center;
    color: var(--Neutral-300);
    gap: 0.5em;
    font-size: 0.8em;
}

.info-user span img{
    width: 1.3em;
}

.user-name-title{
    background: var(--Gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user-email{
    color: var(--Orange-500);
}